@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.App {
  text-align: center;
}
p {
  margin: 0;
}
.py-120 {
  padding: 120px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: rgb(0, 0, 0);
}

.container {
  max-width: 72%;
}

/************************************************************************************
start header and nav section css
*************************************************************************************/

header {
  padding: 20px 0px;
  margin: 0 280px 0 146px;
}

.img-logo {
  width: 73px;
  height: 50px;
}

.manu-icon {
  background-color: rgb(0, 0, 0);
}

.btn-custom {
  border: double 4px transparent;
  border-radius: 8px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    conic-gradient(
      from 180deg at 48.5% 50%,
      #fcc255 -46.16deg,
      #4b2a16 130.63deg,
      #fab95e 133.38deg,
      #b47428 204.46deg,
      #533018 311.43deg,
      #fcc255 313.84deg,
      #4b2a16 490.63deg
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.4s ease-in-out;
}

.btn-custom:hover {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    conic-gradient(
      from 180deg at 48.5% 50%,
      #b47428 -22.97deg,
      #533018 92.26deg,
      #fcc255 100.77deg,
      #fab95e 211.86deg,
      #4b2a16 219.11deg,
      #b47428 337.03deg,
      #533018 452.26deg
    );
}

.btn-custom p {
  background: conic-gradient(
    from 85deg at 48.5% 50%,
    #fcc255 -46.16deg,
    #4b2a16 356deg,
    #fab95e 133.38deg,
    #b47428 254deg,
    #533018 311.43deg,
    #fcc255 204deg,
    #4b2a16 490.63deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 0rem;
  font-weight: 600;
  font-size: 16px;
  padding: 13px 20px;
}

.ether-btn {
  color: #fff;
  border: none;
  background: conic-gradient(
    from 180deg at 48.5% 50%,
    #fcc255 -46.16deg,
    #4b2a16 130.63deg,
    #fab95e 133.38deg,
    #b47428 204.46deg,
    #533018 311.43deg,
    #fcc255 313.84deg,
    #4b2a16 490.63deg
  );
  border-radius: 2px;
  padding: 13px 20px;
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  border: double 4px transparent;
  border-radius: 8px;
  background-image: conic-gradient(
      from 180deg at 48.5% 50%,
      #fcc255 -46.16deg,
      #4b2a16 130.63deg,
      #fab95e 133.38deg,
      #b47428 204.46deg,
      #533018 311.43deg,
      #fcc255 313.84deg,
      #4b2a16 490.63deg
    ),
    conic-gradient(
      from 180deg at 48.5% 50%,
      #fcc255 -46.16deg,
      #4b2a16 130.63deg,
      #fab95e 133.38deg,
      #b47428 204.46deg,
      #533018 311.43deg,
      #fcc255 313.84deg,
      #4b2a16 490.63deg
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.4s ease-in-out;
}

.ether-btn:hover {
  transition: 5s;
  background-image: conic-gradient(
      from 180deg at 48.5% 50%,
      #533018 -150deg,
      #4b2a16 16.88deg,
      #d59b4e 35.62deg,
      #fab95e 146.25deg,
      #b47428 161.25deg,
      #fcc255 189.38deg,
      #533018 210deg,
      #4b2a16 376.88deg
    ),
    conic-gradient(
      from 180deg at 48.5% 50%,
      #533018 -150deg,
      #4b2a16 16.88deg,
      #d59b4e 35.62deg,
      #fab95e 146.25deg,
      #b47428 161.25deg,
      #fcc255 189.38deg,
      #533018 210deg,
      #4b2a16 376.88deg
    );
}

.social {
  margin-top: 14px;
}

.navbar-nav {
  margin-left: 70px;
}

.navbar form {
  margin-left: 300px !important;
}
a {
  text-decoration: none !important;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  font-weight: 700;
  background: linear-gradient(90deg, #00f260 0%, #0575e6 100%, #0575e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav-link:focus {
  font-weight: 700 !important;
  background: linear-gradient(90deg, #00f260 0%, #0575e6 100%, #0575e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navbar-nav .nav-link.active {
  font-weight: 700 !important;
  background: linear-gradient(90deg, #00f260 0%, #0575e6 100%, #0575e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (min-width: 1024px) and (max-width: 1320px) {
  header {
    margin: 0px;
  }

  .navbar-nav {
    margin-left: 15px;
  }

  .nav-link {
    font-size: 12px;
    line-height: 0px;
  }

  .btn-custom p {
    padding: 5px 10px;
  }

  .ether-btn {
    padding: 5px;
    border-radius: 2px;
  }
}

@media (min-width: 1321px) and (max-width: 1440px) {
  header {
    margin: 0 220px 0 106px;
  }

  .nav-link {
    font-size: 14px;
  }

  .navbar-nav {
    margin-left: 25px;
  }

  .btn-custom p {
    padding: 5px 8px;
  }

  .ether-btn {
    font-size: 16px;
    padding: 7px 15px;
  }
}

@media (min-width: 280px) and (max-width: 991px) {
  header {
    margin: 0px;
  }

  .btn-custom {
    padding: 5px;
  }

  .btn-custom p {
    font-size: 12px;
  }

  .ether-btn {
    padding: 5px;
    margin-right: 10px;
  }

  .btn-custom {
    margin-top: 10px;
  }
}

/* =====astro section start here===== */
.astro__area .image__section img {
  width: 100%;
}

.astro__area {
  padding: 24px 24px 0 0;
  border-width: 3px;
  border-style: solid;
  border-left: none;
  border-image: linear-gradient(
      130.24deg,
      rgba(244, 189, 72, 0.1) 7.67%,
      #e38800 54.04%,
      rgba(244, 189, 72, 0.1) 93.82%
    )
    1;
}

.astro__area .def__section {
  padding: 0 0 24px 24px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      130.24deg,
      rgba(244, 189, 72, 0.1) 7.67%,
      #e38800 54.04%,
      rgba(244, 189, 72, 0.1) 93.82%
    )
    1;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.astro__inner .card__class {
  padding: 100px 0;
}

.astro__area .def__section .astro__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.astro__area .def__section .astro__title h5 {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.astro__area .def__section .astro__title span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #6b7280;
}

.astro__area .astro__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.astro__area .astro__info .review {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        148deg,
        rgba(244, 189, 72, 0.1) 7.67%,
        #e38800 54.04%,
        rgba(244, 189, 72, 0.1) 93.82%
      )
      border-box;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
}

/* .astro__area .astro__info .review {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      130.24deg,
      rgba(244, 189, 72, 0.1) 7.67%,
      #e38800 54.04%,
      rgba(244, 189, 72, 0.1) 93.82%
    )
    1;
} */

.astro__area .astro__info .review span,
.astro__area .astro__info .price img {
  margin-right: 10px;
}

.astro__area .astro__info .review img {
  width: 100%;
}

.astro__area .astro__info .price span,
.astro__area .astro__info .review span {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  background: conic-gradient(
    from 180deg at 48.5% 50%,
    #fcc255 -46.16deg,
    #4b2a16 130.63deg,
    #fab95e 133.38deg,
    #b47428 204.46deg,
    #533018 311.43deg,
    #fcc255 313.84deg,
    #4b2a16 490.63deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1200px) and (max-width: 1639px) {
  .astro__area .astro__info {
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: unset;
  }
}

@media screen and (max-width: 424px) {
  .astro__area {
    padding: 24px 11px;
  }
}

@media screen and (max-width: 374px) {
}

/* =====astro section end here===== */

/* =====services section start here===== */
.services__section {
  padding: 64px 0 116px;
}

.service__inner p.text-right,
.about__us__inner p.text-left {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #00eaf9;
}

.services__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 100px 0;
}

.services__title h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  background: conic-gradient(
    from -39deg at 48.5% 50%,
    #fcc255 -41deg,
    #5b331b 131deg,
    #fab95e 133.38deg,
    #1f1509 304deg,
    #6a4933 311.43deg,
    #fcc255 313.84deg,
    #4b2a16 490.63deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 0px 4px rgba(227, 136, 0, 0.31);
}

.service__quad h4 {
  padding: 16px 0 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  background: linear-gradient(
    225deg,
    rgba(75, 42, 22, 0) 0%,
    #eab872 36.22%,
    #ffeac2 47.32%,
    #a56710 64.82%,
    rgba(83, 48, 24, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.service__quad.service h4::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  left: 0;
  bottom: 50px;
  border: 1px solid rgb(221 204 204 / 48%);
}

.about__us__quad .service__quad:first-child {
  margin-bottom: 25px;
}

.service__quad p {
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Oxanium", cursive;
}

/* .service__quad {
    padding: 24px;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-image: linear-gradient(130.24deg,
     rgba(244, 189, 72, 0.1) 7.67%,
     #E38800 54.04%,
      rgba(244, 189, 72, 0.1) 93.82%) 1;
} */

.service__quad {
  padding: 24px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        148deg,
        rgba(244, 189, 72, 0.1) 7.67%,
        #e38800 54.04%,
        rgba(244, 189, 72, 0.1) 93.82%
      )
      border-box;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
}

@media screen and (max-width: 1395px) {
  .services__title {
    justify-content: center;
  }

  .services__title h1 {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .services__title h1 {
    font-size: 49px;
  }
}

@media screen and (max-width: 767px) {
  .services__title h1 {
    font-size: 35px;
    line-height: 46px;
  }
}

@media screen and (max-width: 424px) {
  .services__title h1 {
    font-size: 31px;
  }
}

@media screen and (max-width: 320px) {
  .services__title h1 {
    font-size: 26px;
    line-height: 46px;
  }
}
/* =====services section end here===== */

/* =====about us section start here===== */
.about__us__inner p.text-left {
  color: #460286;
}

.play__earn .title h1 {
  background: conic-gradient(
    from 145deg at 48.5% 50%,
    #fcc255 -46.16deg,
    #4b2a16 130.63deg,
    #fab95e 133.38deg,
    #b47428 204.46deg,
    #533018 311.43deg,
    #fcc255 313.84deg,
    #4b2a16 490.63deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 4px rgb(227 136 0 / 31%);
  font-size: 82px;
  line-height: 125px;
  font-weight: 900;
}

.play__earn .title h1 a {
  text-decoration: none;
}

.play__earn .title p,
.play__earn .title span {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #ffffff;
}

.play__earn .title p {
  margin: 64px 0 20px;
}

@media screen and (max-width: 1199px) {
  .about__us__quad {
    display: flex;
    margin-top: 20px;
  }

  .about__us__quad .service__quad:first-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1099px) {
  .play__earn .title h1 {
    font-size: 55px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about__us__quad {
    display: flex;
    flex-wrap: wrap;
  }

  .about__us__inner p.text-left,
  .service__inner p.text-right,
  .road__map__inner .title p {
    display: none;
  }

  .about__us__quad .service__quad:first-child {
    margin: 0 0 20px 0;
  }

  .service__quad p {
    margin-bottom: 0;
  }

  .play__earn .title h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 424px) {
  .play__earn .title h1 {
    font-size: 29px;
  }

  .services__section {
    padding: 64px 0 78px;
  }
}

@media screen and (max-width: 374px) {
  .service__quad p {
    font-size: 15px;
  }

  .play__earn .title p,
  .play__earn .title span {
    font-size: 16px;
    line-height: 22px;
  }
}
/* =====about us section end here====== */

/* =====road map section start here===== */
.road__map__inner .title {
  position: relative;
}

.road__map__inner .title h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #fff1e9;
  text-shadow: 0px 0px 4px #ffef5c;
  position: relative;
}

.road__map__inner .title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fcaa51;
  position: absolute;
  left: 0;
  top: 0;
}

.road__map__inner .title p span {
  color: #fff1e9;
}
/* ---timeline--- */

ul.timeline li.event h1 {
  display: none;
}

h1 {
  /* font-family: 'Oswald', sans-serif; */
  letter-spacing: 1.5px;
  color: white;
  font-weight: 100;
  font-size: 2.4em;
}
#content {
  margin-top: 50px;
  text-align: center;
}
.timeline {
  border-left: 4px solid #73461d;
  color: rgba(255, 255, 255, 0.8);
  margin: 50px auto 0;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 61%;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding: 25px;
  margin-bottom: 50px;
  position: relative;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      130.24deg,
      rgba(244, 189, 72, 0.1) 7.67%,
      #e38800 54.04%,
      rgba(244, 189, 72, 0.1) 93.82%
    )
    1;
}

li.event .event__ul {
  display: flex;
}

li.event ul li {
  margin-bottom: 20px;
}

li.event ul li:last-child {
  margin-bottom: 0;
}

.timeline .event:last-of-type {
  margin-bottom: 0;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -44%;
  top: 43%;
  content: "PHASE 1";
  font-size: 40px;
  font-weight: 600;
  min-width: 120px;
}
.timeline .event:nth-child(2):before {
  content: "PHASE 2";
}
.timeline .event:nth-child(3):before {
  content: "PHASE 3";
}
.timeline .event:nth-child(4):before {
  content: "PHASE 4";
}
.timeline .event:nth-child(5):before {
  content: "PHASE 5";
}
.timeline .event:after {
  /* box-shadow: 0 0 0 1px #4298c3; */
  left: -99.85px;
  /* background: #313534; */
  height: 0px;
  width: 90px;
  content: "";
  top: 50%;
  height: 5px;
  background: conic-gradient(
    from 180deg at 48.5% 50%,
    #fcc255 -46.16deg,
    #4b2a16 130.63deg,
    #fab95e 133.38deg,
    #b47428 204.46deg,
    #533018 311.43deg,
    #fcc255 313.84deg,
    #4b2a16 490.63deg
  );
}
/* ---timeline--- */

@media screen and (max-width: 1799px) {
  .timeline .event:before
     /* .timeline .event:after */ {
    display: none;
  }

  ul.timeline li.event h1 {
    display: block;
    font-size: 30px;
  }
}

@media screen and (max-width: 1439px) {
  li.event .event__ul {
    flex-wrap: wrap;
  }

  li.event .event__ul ul {
    padding: 10px;
    margin-bottom: 20px;
  }

  li.event .event__ul ul:last-child {
    margin-bottom: 0;
    padding-top: 0;
  }

  li.event .event__ul ul:first-child {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  ul.timeline li.event h1 {
    font-size: 27px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 991px) {
  .road__map__inner .title h1 {
    font-size: 48px;
  }

  li.event .event__ul ul,
  li.event ul li {
    margin-bottom: 13px;
  }
  .timeline {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .timeline .event {
    margin-bottom: 30px;
  }

  .road__map__inner .title h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  .timeline .event:after {
    left: -52.85px;
    width: 50px;
  }
}

@media screen and (max-width: 424px) {
  ul.timeline li.event h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 374px) {
  .timeline {
    padding: 0 0 0 30px;
  }

  .timeline .event:after {
    left: -32.85px;
    width: 31px;
  }
}

@media screen and (max-width: 320px) {
  .road__map__inner .title h1 {
    font-size: 32px;
  }
}

/* =====road map section end here===== */
